<div class="tabs-panel is-active" id="tab-answers">
  <div class="row margin-top text-center" id="<%= dom_id(@enquiry) %>_answers">
    <%= render "enquiries/answers", enquiry: @enquiry %>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-9 column">
      <h3><%= t('enquiries.show.more_info') %></h3>
      <%= @enquiry.description %>
    </div>
  </div>
</div>
